body{
    font-family: fantasy;
    padding: 0;
}

h1{
    color: #f7325e;
    text-align: center;
}

h4,p{
    text-align: center;  
}


.destinations{
    border:solid #f7325e 1px;
    width:fit-content;
    margin:auto;
    padding:40px;
}

.tropical{
    color:#7dc410;
}

.main-image{
    width:600px;
    margin:0 auto;
}