body{
    font-family: fantasy;
    padding: 0;
    
}

h1{
    color: #a71b39;
    text-align: center;
}

h4,p{
    text-align: center;  
}


.destinations{
    
    width:fit-content;
    margin:auto;
    padding:40px;
    background-color: rgb(148, 180, 223);
}

.tropical{
    color:#7dc410;
}

.main-image{
    width:100%;
    margin:0 auto;
}


